@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedBook.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedBold.ttf");
    font-weight: 700;
}

:root {
    --f7-font-family: GothamRounded, sans-serif;
    --f7-page-bg-color: #fff;
    --f7-block-strong-bg-color: var(--f7-page-bg-color);
    --f7-block-text-color: #616473;
    --f7-list-bg-color: var(--f7-page-bg-color);
    --f7-checkbox-active-color: #51e3a4;
    --f7-checkbox-inactive-color: #d7e6e1;
    --f7-checkbox-size: 24px;
    --f7-checkbox-border-width: 3px;
    --f7-fab-bg-color: #51e3a4;
}

.swatch_2 {
    background: #d7e6e1;
}
.swatch_3 {
    background: #51e3a4;
}
.swatch_4 {
    background: #cfd0d5;
}
.swatch_5 {
    background: #9ea0a6;
}
.swatch_6 {
    background: #747981;
}
.swatch_7 {
    background: #a9dac5;
}
.swatch_8 {
    background: #5cd6a0;
}

.margin-vertical-auto {
    margin: auto 0;
}

.day-number-text {
    margin: 0;
    font-weight: 500;
    font-size: 3rem;
}

.month-text {
    margin: 0;
    font-weight: bold;
}

.year-text {
    margin: 0;
    font-weight: 400;
}

.day-text {
    margin-right: 0;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 500;
}

div.list .item-title {
    font-size: 1.1rem;
    color: #333;
}

i.icon.icon-checkbox {
    order: 1;
    border-radius: 50%;
}

.plus {
  display: inline-block;
  width: 42px;
  height: 42px;
  background:
    linear-gradient(#49ba8c,#49ba8c) content-box,
    linear-gradient(#49ba8c,#49ba8c) content-box,
    #51e3a4;
  background-position: center;
  background-size: 50% 3px, 3px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
}
