@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedBook.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "GothamRounded";
    src: url("./font/GothamRoundedBold.ttf");
    font-weight: 700;
}

:root {
    /* colors */
    --color-primary: #51e3a4;

    /* variable */
    --list-vertical-margin: var(--f7-list-margin-vertical) * 2;

    /* framework7 */
    --f7-font-family: GothamRounded, sans-serif;
    /* --f7-fab-size: 72px; */
    --f7-page-bg-color: #fff;
    --f7-block-strong-bg-color: var(--f7-page-bg-color);
    --f7-block-text-color: #616473;
    --f7-list-bg-color: var(--f7-page-bg-color);
    --f7-checkbox-active-color: var(--color-primary);
    --f7-checkbox-inactive-color: #d7e6e1;
    --f7-checkbox-size: 24px;
    --f7-checkbox-border-width: 3.5px;
    --f7-fab-bg-color: var(--color-primary);
    --f7-dialog-button-text-color: var(--f7-dialog-text-color);
}

.swatch_2 {
    background: #d7e6e1;
}
.swatch_3 {
    background: #51e3a4;
}
.swatch_4 {
    background: #cfd0d5;
}
.swatch_5 {
    background: #9ea0a6;
}
.swatch_6 {
    background: #747981;
}
.swatch_7 {
    background: #a9dac5;
}
.swatch_8 {
    background: #5cd6a0;
}

.page-content {
    background-color: #f0efea;
    display: flex;
}

.main {
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 675px;
    margin: auto;
    position: relative;
    background-color: var(--f7-page-bg-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main > .block.inset {
    height: calc(100% - var(--f7-block-margin-vertical) * 2);
}

.list {
    height: calc(100% - 72px - var(--list-vertical-margin));
    overflow: scroll;
}

.margin-vertical-auto {
    margin: auto 0;
}

.position-relative {
    position: relative;
}

.day-number-text {
    margin: 0;
    font-weight: 500;
    font-size: 3rem;
}

.month-text {
    margin: 0;
    font-weight: bold;
}

.year-text {
    margin: 0;
    font-weight: 400;
}

.day-text {
    margin-right: 0;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 500;
}

div.list .item-title {
    font-size: 1.1rem;
    color: #333;
}

i.icon.icon-checkbox {
    order: 1;
    border-radius: 50%;
}

.plus {
    width: 22px;
    height: auto;
    color: #49ba8c;
}

input[type="checkbox"]:checked ~ .item-inner > .item-title {
    color: #ccc;
}

.list .item-content {
    padding-left: 0;
    margin: var(--f7-typography-margin) 0;
}

.md .dialog-button {
    --f7-touch-ripple-color: #EEE;
}

.dialog-button.dialog-button-bold {
    color: #49ba8c;
}

.fab a {
    --f7-touch-ripple-color: #EEE;
}

@media (min-height: 750px) {
    .list {
        --list-vertical-margin: var(--f7-list-margin-vertical);
        margin-bottom: 0;
    }
    .fab-center-bottom {
        bottom: calc(-32px);
    }
}